<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>

<!-- header -->
<%- include('partials/header', {title: 'Movies'}) %>
<!-- fin header -->

<body>
    <% if (typeof errors != 'undefined') { %>
        <div>
        <p style="color: red; font-size: medium;">ERROR </p>
        
           <% for( let i = 0; i < errors.length; i++ ) { %>
              <p style="font-size: small;font-weight: bold; color: white;">| <%= errors[i].msg %> |</p>
           
           <% } %>
        </div>
       <% } %>
    <div class= "create">
       
    <form action="/movies/create" method="POST" class= "create">
        <label for="Title">Titulo</label>
        <input type="text" name= "title">
        <label for="Rating">Rating</label>
        <input type="text" name= "rating">
        <label for="awards">Premios</label>
        <input type="text" name= "awards">
        <label for="Length">Duración</label>
        <input type="text" name= "length">
        <label for="Date">Fecha de Estreno</label>
        <input type="date" name= "release_date">
        
        <label for="Genre">Genero</label>
        <select name="genre_id">
            <option value="" >Seleccione el Genero</option> 
            <% generos.forEach(genero => { %>
            <option value= <%= genero.id %>> <%= genero.name %></option>                
           <% }); %>
        </select>

        <label for="">Actores</label>
        <select name="actores" multiple class= "multiple">
            <% actores.forEach(actor => { %>
            <option value= "<%= actor.id %>"> <%= actor.first_name %> <%= actor.last_name %>
            </option>                
           <% }); %>
        </select>

        <button type="submit">Guardar Pelicula</button>

    </form>
    </div>
</body>
</html>